NUXT_PUBLIC_SITE_URL=https://projects.doimih.net
NUXT_PUBLIC_APP_BASE_URL=/doisense/
NUXT_PUBLIC_API_BASE=https://projects.doimih.net/doisense/api
NUXT_PUBLIC_GOOGLE_CLIENT_ID=
NUXT_PUBLIC_APPLE_CLIENT_ID=
NUXT_PUBLIC_APPLE_REDIRECT_URI=
